#makoframe {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: 1;
	margin-top: 32px;
	width: 100%;
}
#makobutton {
	position: fixed;
	right: 10%;
	bottom: 10%;
	z-index: 2;
}
#makobutton.active {
	color: red;
}
#makopublishbutton {
	position: fixed;
	right: 10%;
	top: 10%;
	z-index: 2;
	color: darkgreen;
}
.mako:focus {
	background-color: #08C0FF;
}